amqp
appdirs
astroid
beautifulsoup4
billiard
bleach
cairocffi
CairoSVG
celery
cffi
click
coverage
cssselect2
defusedxml
Django
django-bootstrap4
django-celery-results
django-ckeditor
django-js-asset
gunicorn
h11
html5lib
isort
kombu
lazy-object-proxy
lxml
mccabe
packaging
pathspec
Pillow
psycopg2
pycparser
pyparsing
Pyphen
python-pptx
pytz
redis
regex
reportlab
six
soupsieve
sqlparse
tinycss2
toml
uvicorn
vine
WeasyPrint<53
webencodings
wrapt
XlsxWriter
django-after-response
