/* Color variables */
:root {
    --main-bg-color: white;
    --white: white;
    --black: black;
    --red: #f13338;
    --red-hover: #fc5557;
    --red-deleted: #ffa9a9;
    --green-inserted: #a8ffa8;
}

html{
    min-height: 100vh;
}

main {
    min-height: 100vh;
}

section {
  margin-bottom: 1.4em;
}
a, .link{
    color: var(--black);
    text-decoration:none ; 
}
a:hover,
.link:hover{
    text-decoration:none ;
    color: var(--red);
}

.primaryColor{   
    color: var(--red);
}

.blackColor{
    color: var(--black);
}
#wrapper {
    height: 100%;    
}

#navBarItem:hover{
    color: var(--red);
    text-decoration:none;
}
#navBarItem{
    color: var(--black);
    text-decoration:none;
}
footer{
  margin-top: 5em;
    
}
footer #languages{
    display: inline-block;
    float: right;
    margin-right: 20px;
}
footer #languages a{
    border-right: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
}
footer #languages a:hover{
    color: var(--red);
}

#createPaperForm{
    margin-right: 50px;
    margin-left: 50px;
}
.form-group{
  display: block;
}
.form-group label{
    color: var(--red);
    display: inline;
}
.form-group input{
    border: 1px solid var(--black);
    box-shadow: none; 
}
.form-group .form-control:focus{
    border: 1px solid var(--red);
    box-shadow: 0 0 0 0.2rem rgba(228,2,45,.25);
}

.radio .form-check{
    display: inline-block;
    float: right;
    padding-right: 20px;
}
#id_state .form-check{
    display: inline;
    float: left;
}

.form-group .radio .form-check label{
    color: var(--black);
}
.django-ckeditor-widget{
    display: block;
    width: 100%;
    margin-top: 10px;
}
.cke_chrome {
    border-radius: 5px;
    border: 1px solid var(--black);
    border-width: thick;        
}

/* Buttons */
.btn{
    border-color: var(--red);
}
/* Submit- / Secondary-Button */
.submitButton,.btn-secondary{
    color: var(--white);
    background-color: var(--red);
}
.btn-secondary:hover{
    color: var(--white);
    background-color: var(--red-hover);
    border-color: var(--red-hover);
}

.submitButton:hover{
    color: var(--white);
    background-color: var(--red-hover);
    border-color: var(--red-hover);
}
/* Cancel Button */
.cancelButton{
    color: var(--red);
    background-color: var(--white);
}
.cancelButton:hover{
    color: var(--white);
    background-color: var(--red);
}

.form-group #id_state{
    display: inline-block !important;
    margin-left: 30px;
    vertical-align: middle;
}
 /* paper list page*/
 #paperLabel{
    color: var(--red);
}
.table thead tr th{
    border-top-color: var(--red);
    border-bottom-color: var(--black);
    color: var(--red);
    padding-top: 40px;
}
.table td {
    border-top-color: var(--black);
}
.table td a{
    color: var(--black);
}
.table td a:hover{
    color: var(--red);
    text-decoration: none;
}
/*paper detail*/
#paperDetail{
    height: 100% !important;
}
#paperTitle{
    color: var(--red);
    text-align: center;
}
#commentForm{
    margin-top: 10px; 
    width: 100%;
}
#paperContent{
    margin-top: 0; 
    padding: 20px;
    border: 1px solid var(--black);
    border-radius: 10px;
}
#amendments{
    text-align: center;
}

.amendmentListReason{
    border: 1px solid var(--red);
    border-radius: 5px; 
    padding: 20px; 
    margin-bottom: 30px;
    margin-top: 5px;
}

del {
  background-color: var(--red-deleted);
}

ins {
    background: var(--green-inserted);
}

.comment {
  margin: 0.25em;
  border-bottom: solid var(--black) 1px;
  padding-bottom: 0.5em;
}

.amendment-content p {
  margin-bottom: 0;
}
