{% extends 'papers/base.html' %}
{% load i18n %}

{% block content %}

<h2>
{% trans 'change' %}
</h2>
<section class="change">
{{amendmend.content|safe}}
</section>

<h2>
{% trans 'author' %}
</h2>
{{amendmend.author.name}}

<h2>{% trans 'reason' %}</h2>
<section class="reason">
{{amendmend.reason|safe}}
</section>

{% if amendmend.state == 'draft' %}
<form method="POST">
    {% csrf_token %}
    <button type="submit" value="publish">{% trans 'publish' %}</button>
</form>
{% endif %}

<a href="{% url 'amendmend-edit' amendmend.pk %}">{% trans 'edit' %}</a>

<a href="{% url 'paper-translation-detail' amendmend.paper.pk amendmend.language_code %}">
    {{amendmend.paper.working_title}}
</a>

{% endblock %}
