{% extends 'papers/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}
{{amendment.translation.title}} - {{amendment.title}}
{% endblock %}


{% block content %}

<div class="row mt-4">
  <div class="col-md-8">
    <h2 class="h5">{% trans 'Paper' %}: {{amendment.translation.title}}</h2>
    <h1 class="h3">{% trans 'Amendment' %}: {{amendment.title}}</h1>
    <section class="amendment-content">
      <span>
        {% blocktrans with name=amendment.author.name created=amendment.created_at %}By <strong>{{name}}</strong> on {{created}}{% endblocktrans %}
      </span>
      <div id="paperContent" class="content">
        <article>
          <div class="amendment-content">
            {{amendment.extract_content|safe}}
          </div>
        </article>
      </div>
    </section>
    <!-- amendment options -->
    <section class="amendment-options">
    <div class="row">
      {% if amendment.state == 'draft' or amendment.state == 'retracted'%}
      <form method="POST">
        {% csrf_token %}
        <div class="col-auto">
          <button class="btn btn-sm submitButton" type="submit" value="publish">{% trans 'Publish' %}</button>
        </div>
      </form>
      {% endif %}
      <div class="col-auto">
        <a class="btn btn-sm submitButton" href="{% url 'amendment-edit' amendment.pk %}">{% trans 'Edit' %}</a>
      </div>
      <div class="col-auto">
        <a class="btn btn-sm submitButton" href="{% url 'amendment-clone' amendment.pk %}">{% trans 'Clone' %}</a>
      </div>
    </div>
    </section>
    <hr>

    <!-- Translations -->
    <section class="translation">
      <h2 class="h4">{% trans 'Translations' %}</h2>
      <div class="btn-group-sm translations">
        {% for translation in amendment.translation_list %}
        <a href="{{translation.get_absolute_url}}" class="btn btn-secondary">{{translation.language_code}}</a>
        {% endfor %}
        {% if perms.papers.create_translation %}
        {% for translation in amendment.missing_translations %}
        <a href="{% url 'amendment-add-translation' amendment.pk translation %}" class="btn">
          +{{translation}}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </section>
    <hr>

    <!-- Reason -->
    <section class="reason">
      <h2 class="h4">{% trans 'Reason' %}</h2>
      <section class="reason">
        {{amendment.reason|safe}}
      </section>
    </section>
    <hr>

    <!-- Recommendation -->
    {% if amendment.recommendation %}
    <h2 class="h4">{% trans 'Recommendation' %}</h2>
    <em>
      {{amendment.recommendation.get_recommendation_display}}
    </em>
    <section class="recommendation">
      {{amendment.recommendation.reason|safe}}
    <a class="btn btn-sm submitButton" href="{% url 'recommendation-edit' amendment.recommendation.pk %}">{% trans 'Edit recommendation' %}</a>
    </section>
    {% else %}
    <section class="recommendation">
    <a class="btn btn-sm submitButton" href="{% url 'recommendation-create' amendment.pk %}">{% trans 'Create recommendation' %}</a>
    </section>
    {% endif %}
    <hr>

    <!-- Tags -->
    <section class="tags">
      <h2 class="h4">{% trans "Tags" %}</h2>
      <ul>
        {% for tag in amendment.tags.all %}
        <li>
          <a class="tag-link" href="{% url 'amendment_list' amendment.paper.pk tag.name amendment.language_code %}">{{ tag.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>
    <hr>

    <!-- Sign amendments -->
    <section class="support">
      <h2 class="h4">{% trans "Sign this amendment" %}</h2>
      <form action="{% url 'support-amendment' amendment.pk %}" method="POST">
        {% csrf_token %}
        <input type="checkbox" id="cb-sign-amendment" name="sign-amendment" value="sign-amendment">
        <label for="sign-amendment">
          {% if request.user in amendment.supporters.all %}
          {% trans "I revoke my signature." %}
          {% else %}
          {% trans "I hereby sign this amendment." %}
          {% endif %}
        </label>
		</br>
        <button type="submit" id="btn-support-amendment" class="btn btn-sm submitButton" disabled>
          {% if request.user in amendment.supporters.all %}
          {% trans "Don't support anymore" %}
          {% else %}
          {% trans "Support this amendment" %}
          {% endif %}
        </button>
      </form>
	  </br>
      <h5 class="h5">{% trans "This amendment is supported by" %} {{amendment.num_supporters}} {% trans "members" %}</h5>
      <ul>
        {% for supporter in amendment.supporters.all %}
        <li>
          {{ supporter }}
        </li>
        {% endfor %}
      </ul>
    </section>

    <!-- Implements Retract Button-->
    <section class="retract-amendment">
      {% if request.user.username == amendment.author.name %}
      <hr>
      <h2 class="h4">{% trans "Retract amendment" %}</h2>
      <form method="POST">
        {% csrf_token %}
        <button class="btn btn-sm  submitButton" type="submit" name="retracted">{% trans 'Retract amendment' %}</button>
      </form>
      {% endif %}
    </section>

    <!-- Implements Retract Button-->
    <hr>
    <a class="btn btn-sm cancelButton" href="{% url 'paper-detail' amendment.paper.pk %}">{% trans 'Back' %}</a>
  </div>


  <div class="col-md-4">
    <!-- Implements Comment section-->
    <h2 class="h3">{% trans 'Comments' %}</h2>

    <div class="comments">

      {% if not comments %}
      {% blocktrans %}No comments yet...{% endblocktrans %}
      {% else %}

      {% for comment in comments %}
      <div class="comment">
        <h3 class="h6">
          {{ comment.name }} - {{ comment.created_on }}
        </h3>

        <section class="comment-body">
          {{ comment.body|safe|urlize }}
        </section>

        <form action="{% url 'comment_like' comment.pk %}" method="POST">
          {% csrf_token %}

          <div class="row justify-content-between px-3">
            <div class="col-auto">
            <button type="submit" class="btn btn-sm submitButton">
              {% if request.user in comment.likes.all %}
              {% trans 'Unlike' %}
              {% else %}
              {% trans 'Like' %}
              {% endif %}
            </button>
              {% if comment.author.user_id == request.user.pk %}
              <a class="btn btn-sm cancelButton mx-1" href="{% url 'comment-delete' comment.pk %}">{% trans 'Delete' %}</a>
              {% endif %}
            </div>
            <div class="likes col-auto">
              {{ comment.num_likes }} <i class="far fa-thumbs-up"></i>
            </div>
          </div>
        </form>
      </div>
      {% endfor %}
      {% endif %}
    </div>

    <h5 class="mt-4">{% trans 'Leave a comment' %}</h5>
    {{form.media}}
    <form action="" method="POST" id="create_comment">
      {% csrf_token %}
      {% bootstrap_form form  form_group_class='form-group'%}
      {% buttons %}
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-sm btn-block submitButton">
            {% trans 'Submit' %}
          </button>
        </div>
      </div>
      {% endbuttons %}
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
      $("#cb-sign-amendment").click(function(){
          if($("#cb-sign-amendment").is(':checked'))
            $("#btn-support-amendment").attr("disabled",false)
          else
            $("#btn-support-amendment").attr("disabled",true)
        })
    });
</script>

{% endblock %}
