{% extends 'papers/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}
{{amendmend.translation.title}}
{% endblock %}


{% block content %}

<div class="row mt-4">
  <div class="col-md-8">
    <h1 class="h3">
      {{amendmend.translation.title}}
    </h1>
    <section class="amendment-copntent">
      <span>
        {% blocktrans with name=amendmend.author.name created=amendmend.created_at %}By <strong>{{name}}</strong> at {{created}}{% endblocktrans %}
      </span>
      <div id="paperContent" class="content">
        <article>
          <div class="amendment-content">
            {{amendmend.extract_content|safe}}
          </div>
        </article>
      </div>
    </section>
    <section class="translation">

      <h2 class="h4">{% trans 'translations' %}</h2>
      <div class="btn-group btn-group-sm translations">
        {% for translation in amendmend.translation_list %}
        <a href="{{translation.get_absolute_url}}" class="btn btn-secondary">{{translation.language_code}}</a>
        {% endfor %}
        {% if perms.papers.create_translation %}
        {% for translation in amendmend.missing_translations %}
        <a href="{% url 'amendment-add-translation' amendmend.pk translation %}" class="btn">
          +{{translation}}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </section>

    <section class="reason">
      <h2 class="h4">{% trans 'Reason' %}</h2>
      <section class="reason">
        {{amendmend.reason|safe}}
      </section>
      <div class="btn-group btn-group-sm">
      {% if amendmend.state == 'draft' %}
      <form method="POST">
        {% csrf_token %}
        <button class="btn btn-sm  submitButton" type="submit" value="publish">{% trans 'publish' %}</button>
      </form>
      {% endif %}
      <a class="btn btn-sm  submitButton" href="{% url 'amendmend-edit' amendmend.pk %}">{% trans 'edit' %}</a>
      <a class="btn btn-sm  cancelButton" href="{% url 'paper-detail' amendmend.paper.pk %}">
        {{amendmend.paper.working_title}}
      </a>
      </div>
    </section>

    <section class="support">
      <h2 class="h4">{% trans 'Support this amendment:' %}</h2>
      <form action="{% url 'support-amendment' amendmend.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm submitButton">
          {% if request.user in amendmend.supporters.all %}
          {% trans "Don't support anymore" %}
          {% else %}
          {% trans 'Support this amendment' %}
          {% endif %}
        </button>
      </form>

      <h3 class="h5">{% trans 'This amendment is supported by' %} ({{amendmend.num_supporters}}) :</h3>
      <ul>
        {% for supporter in amendmend.supporters.all %}
        <li>
          {{ amendmend.name }}
        </li>
        {% endfor %}
      </ul>
  </div>
    </section>

    <div class="col-md-4">
      <!-- Implements Comment section-->
      <h2 class="h3">{% trans 'Comments' %}</h2>

      <div class="comments">

        {% if not  amendmend.comments.all%}
        {% blocktrans %}No Comments Yet...{% endblocktrans %}
        {% else %}

        {% for comment in amendmend.comments.all %}
        <div class="comment">
          <h3 class="h6">
            {{ comment.name }} - {{ comment.created_on }}
          </h3>

          <section class="comment-body">
            {{ comment.body|safe|urlize }}
          </section>

          <form action="{% url 'comment_like' comment.pk %}" method="POST">
            {% csrf_token %}

            <div class="row justify-content-between px-3">
              <button type="submit" class="btn btn-sm submitButton col-auto">
                {% if request.user in comment.likes.all %}
                {% trans 'unlike' %}
                {% else %}
                {% trans 'like' %}
                {% endif %}
              </button>
              <div class="likes col-auto">
                {{ comment.num_likes }} <i class="far fa-thumbs-up"></i>
              </div>
            </div>
          </form>
        </div>
        {% endfor %}
        {% endif %}
      </div>

      <h5 class="mt-4">{% trans 'Leave a comment' %}</h5>
      {{form.media}}
      <form action="" method="POST" id="create_comment">
        {% csrf_token %}
        {% bootstrap_form form  form_group_class='form-group'%}
        {% buttons %}
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-sm btn-block submitButton">
              {% trans 'Submit' %}
            </button>
          </div>
        </div>
        {% endbuttons %}
      </form>
      <!-- Implements Comment section-->
    </div>
</div>

{% endblock %}
