<!DOCTYPE html>
{% load i18n bootstrap4 %}
<html lang="{{request.LANGUAGE_CODE}}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% bootstrap_css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">

    <title>{% block title %}{% endblock %} - Digital Democracy</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <header class="navbar navbar-expand navbar-light container">
        <a class="navbar-brand" href="/">
          <img src="/static/logo.png" width="50" height="50" alt="logo">
        </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div>
        <a href="/" class="navbar-brand mb-0 h1" id="navBarItem">
          {% trans 'Digital Democracy' %}</a>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" id= "navBarItem" href="{% url 'paper-list' %}">{% trans 'Papers' %}</a>
        </li>
      </ul>

      <div class="my-2 my-lg-0">
          {% if request.user.is_authenticated %}
          <form method="GET" action="{% url 'search-result' %}">
            <input type="text" placeholder="{% trans 'Search...' %}" name="searched">
            <button class="btn searchButton" type="submit">
                <i class="fa fa-search"></i>
              </button>
              <button class="btn btn-secondary " type="button" class="btn btn-primary">
                <a class="my-2 my-sm-0" id="navBarAccount" href="{% url 'profile' %}">
                  {{ user }}
                  <i class="fas fa-user-alt magnifierIcon"></i>
                </a>
              </button>
              <button class="btn btn-secondary " type="button" class="btn btn-primary">
                <a class="my-2 my-sm-0" id="navBarAccount" href="{% url 'logout' %}">
                  {% trans 'Logout' %}
                </a>
              </button>
            </form>
            {% else %}
            <button class="btn btn-secondary " type="button" class="btn btn-primary">
                <a class="my-2 my-sm-0" id="navBarAccount" href="{% url 'login' %}">
                    {% trans 'Sign in' %}
                </a>
            </button>

            {% endif %}
          </div>

        </div>

      </header>
      <main class="container">
        <div class="row">
          <div class="col-auto">
            {% bootstrap_messages %}
          </div>
        </div>
        {% block content %} 
        {% endblock %}
      </main>
      <footer class="navbar container">
        <small>Impressum | © Copyright 2020 SP Schweiz</small>
          <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
              <input type="hidden" name="next" value="{{ redirect_to }}">
              <select title="Language..." name="language">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                      <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                          {{ language.name_local|capfirst }}
                      </option>
                  {% endfor %}
              </select>
              <input type="submit" value="Go">
          </form>
      </footer>
    </div>
    {% bootstrap_javascript jquery="full" %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
