{% extends 'papers/base.html' %}
{% load i18n %}

{% block title %}{{paper.working_title}}{% endblock %}


{% block content %}
<div>
    <div class="row">
        <div class="col">
            <div class="row">
                <h1>{{paper.working_title}}</h1>
            </div>
            <div class="row">
                <p>helllo world</p>
            </div>     
        </div>
        <div class="col">
            {% include 'papers/includes/translation_list.html' %}
        </div>
    </div>
</div>

{% endblock %}
