{% extends 'papers/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans 'Create new paper' %}{% endblock %}

{% block head %}{{form.media}}{% endblock %}

{% block content %}
<h1 class="h3">{% trans 'Create new paper' %}</h1>
<hr>
<form action="" method="POST" id="createPapperForm">
  {% csrf_token %}
  {% bootstrap_form form  form_group_class='form-group'%}
  {% buttons %}
  <br>
  <div class="row">
      <div class="col">
      <button type="cancel" class="btn btn-sm btn-block cancelButton" name="cancel" onclick="location.href = '/'">{% trans 'cancel' %}</button>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-sm btn-block submitButton">{% trans 'submit' %}</button>
    </div>
  </div>
  {% endbuttons %}
</form>
{% endblock %}