{% extends 'papers/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Papers' %}{% endblock %}

{% block content %}

<h1>{% trans 'Papers' %}</h1>

<table class="table">
  <caption class="sr-only">{% trans 'Amendments' %}</caption>
  <thead>
    <tr>
      <th scope="col">
        {% trans 'Title' %}
      </th>
      <th scope="col">
        {% trans 'State' %}
      </th>
      <th scope="col">
        {% trans 'Created on' %}
      </th>
      <th scope="col">
        {% trans 'Deadline for amendments' %}
      </th>
      <th scope="col">
        {% trans "Last Change" %}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for paper in paper_list %}
      <tr>
        <td>
            <a href="{% url 'paper-detail' paper.pk %}">
                {% get_current_language as LANGUAGE_CODE %}
                {% for translation in paper.translation_set.all %}
                    {% if translation.language_code == LANGUAGE_CODE %} {{ translation.title }}
                    {% endif %}
                {% endfor %}
            </a>
        </td>
        <td>
          {{paper.state}}
        </td>
        <td>
          {{paper.created_at}}
        </td>
        <td>
          {{paper.amendment_deadline}}
        </td>
        <td>
            {% if paper.latest_comment %}
                {% if paper.latest_amendment.created_at < paper.latest_comment.created_on %}
                    <a href="{% url 'amendment-detail' paper.latest_amendment.pk %}">
                        {{ paper.latest_amendment.created_at }}
                    </a>
                {% else %}
                    <a href="{% url 'amendment-detail' paper.latest_comment.amendment_id %}">
                        {{ paper.latest_comment.created_on }}
                    </a>
                {% endif %}
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tr>
  </tbody>
</table>
<a href="{% url 'paper-create' %}" class="btn btn-secondary ">{% trans 'Create new paper' %}</a>
{% endblock %}