{% extends 'papers/base.html' %}
{% load static i18n %}
{% load bootstrap4 %}



{% block head %}
{{form.media}}
<script src="{% static "jquery-3.5.1.min.js" %}">
</script>
{% endblock %}

{% block content %}

<form method="POST" id="createPapperForm">
    {% csrf_token %}
    {% bootstrap_form form  form_group_class='form-group'%}
    {% buttons %}
    <button type="submit" class="btn btn-sm btn-block submitButton">{% trans 'submit' %}</button>
    {% endbuttons %}
    
</form>

{% endblock %}
