{% extends 'papers/base.html' %}
{% load static i18n %}
{% load bootstrap4 %}



{% block head %}
{{form.media}}
{% endblock %}

{% block content %}
<h2>{{translation.title}}</h2>

<form method="POST" id="createPaperForm">
    {% csrf_token %}
    {% bootstrap_form form  form_group_class='form-group'%}
    {% buttons %}
    <div class="btn-group btn-sm">
        <a class="btn cancelButton" href="{% url 'paper-detail' paper.pk %}#{{translation.language_code}}">
        back </a>
        <button type="submit" class="btn submitButton">{% trans 'submit' %}</button>
    </div>
    {% endbuttons %}

</form>

{% endblock %}
