{% extends 'papers/base.html' %}
{% load i18n %}
{% block title %}{{translation.title}}{% endblock %}


{% block content %}
    <h1>{{translation.title}}</h1>
<article>
    <div>
        {{translation.content_safe}}
    </div>
</article>

<h2>{% trans 'amendmends' %}</h2>
<ul>
    {% for amendmend in amendmend_list %}
    <li><a href="{% url 'amendmend-detail' amendmend.pk %}">
            #{{amendmend.pk}}
        </a>
    </li>
    {% endfor %}
</ul>

<h2>{% trans 'languages' %}</h2>
{% include 'papers/includes/translation_list.html' %}

<form action="/paper/{{translation.id}}/{{translation.language_code}}/edit/" method="GET">
    <input type="submit" value="Edit Entry">
</form>
<br>
<a href="{% url "paper-list" %}">
    {% trans "all papers" %}
</a>
{% endblock %}
