{% extends 'papers/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{paper.working_title}}{% endblock %}

{% block content %}
<div class="row">
  <nav class="col">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {% for translation in paper.translation_set.all %}
      <a class="nav-link {% if language_code == translation.language_code %}active{% endif %}" href="#{{translation.language_code}}" data-toggle="tab">
        {{translation.get_language_code_display}}
      </a>
      {% endfor %}
      {% if perms.papers.create_translation %}
      {% for missing_translation in paper.missing_translations %}
      <a class="nav-link" href="{% url 'paper-translation-update' paper.pk missing_translation.0 %}">
        + {{missing_translation.1}}
      </a>
      {% endfor %}
      {% endif %}
    </div>
  </nav>
</div>

<div class="tab-content" id="nav-tab-content">
  {% for translation in paper.translation_set.all %}
  <div class="tab-pane {% if language_code == translation.language_code %}active show{% endif %}" id="{{translation.language_code}}" role="tabpanel">
    <div class="row mt-4">
      <div class="col-md-8">
        {% if translation.needs_update %}
            <div class="alert alert-warning" role="alert">
                {% trans 'This translation needs an update.' %}
            </div>
        {% endif %}
        <h2>
          {{translation.title}}
        </h2>
        {% trans 'Authors' %}:
        {% for authors in paper.authors.all %}
        {{authors.name}}{% if not forloop.last %},{% endif %}
        {% endfor %}
        {% if paper.state != 'final' %}
          <h3 class="h5">{% trans 'Deadline for this paper: ' %}{{paper.amendment_deadline}}</h3>
        {% endif %}
        <div id="paperContent-{{translation.language_code}}" class="content">
          <article>
            <div> {{translation.content_safe}}</div>
          </article>
        </div>
        <div class="my-2" role="group">
          {% if paper.state != 'final' %}
          {% if create_amendment_allowed %}
              <a class="btn btn-secondary" href="{% url 'create-amendment' translation.paper.pk translation.language_code %}">
                {% trans 'Create amendment' %}
              </a>
          {% endif %}
          {% if request.user.is_staff %}
          <a class="btn btn-secondary" href="{% url 'paper-amendment-list' translation.paper.pk %}">
            {% trans 'Enter results' %}
          </a>
          <a class="btn btn-secondary" href="{% url 'paper-select-amendments' translation.paper.pk translation.language_code %}">
            {% trans 'Merge amendments' %}
          </a>
          {% endif %}
          {% if perms.papers.change_translation %}
          <a class="btn btn-secondary" href="{%url 'paper-translation-update' translation.paper.pk translation.language_code%}">
            {% trans 'Update translation' %}
          </a>
          <a class="btn btn-secondary" href="{%url 'translation-delete' translation.pk %}">
            {% trans 'Delete translation' %}
          </a>
          {% endif %}
          {% endif %}
          {% if update_allowed %}
          <a class="btn btn-secondary" href="{%url 'paper-update' paper.pk %}">
            {% trans 'Update paper' %}
          </a>
          <a class="btn btn-secondary" href="{%url 'paper-delete' paper.pk %}">
            {% trans 'Delete paper' %}
          </a>
          {% endif %}
          {% if paper.state == 'public' %}
          <a class="btn btn-secondary" href="{% url 'paper-presentation' paper.pk %}">
            {% trans 'Download as PPTX' %}
          </a>
          {% endif %}
          <a class="btn btn-secondary" href="{%url 'paper-detail-language-create-pdf' paper.pk translation.language_code %}">
            {% trans 'Download as PDF' %}
          </a>
        </div>
        <a class="btn cancelButton" href="{%url 'paper-list' %}">
          {% trans 'back' %}
        </a>
      </div>
      <div class="col-md-4">
	    <!-- Amendments section -->
        {% if paper.state != 'final' %}
        <h2 id="amendments">{% trans 'Amendments' %}</h2>
		<div class="amendments">
          {% for amendment in translation.amendment_list %}
          {% if amendment.state != "retracted" or request.user.username == amendment.author.name %}
		  <div class="amendment">
			<a class="link" href="{% url 'amendment-detail' amendment.pk %}" data-content="{{amendment.extract_content|safe}}">
			  <h3 class="h5">{{amendment.title}}</h3>
			  {% blocktrans with name=amendment.author.name created_at=amendment.created_at %}{{name}} at {{created_at}}{% endblocktrans %}
			</a>
		  </div>
          {% endif %}
          {% endfor %}
		</div>
        <!-- Implements Comment section-->
        <h2 id="comments">{% trans 'Comments' %}</h2>
        <div class="comments">
          {% if not paper.comments.all %}
          {% blocktrans %}No Comments Yet...{% endblocktrans %}
          {% else %}

          {% for comment in paper.comments.all %}
          <div class="comment">
            <h3 class="h5">
              {{ comment.name }} - {{ comment.created_on }}
            </h3>
            <section class="comment-body">
              {{ comment.body|safe|urlize }}
            </section>
            {% if comment.author.user == request.user %}
            <a href="{% url 'paper-comment-delete' comment.pk %}" class="btn btn-sm cancelButton">
              {% trans 'Delete' %}
            </a>
            {% endif %}
          </div>
          {% endfor %}
          {% endif %}
        </div>

        {{form.media}}
        <form action="" method="POST" id="create_comment">
          {% csrf_token %}
          {% bootstrap_form form  form_group_class='form-group'%}
          {% buttons %}
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-sm btn-block submitButton">
                {% trans 'Submit' %}
              </button>
            </div>
          </div>
          {% endbuttons %}
        </form>
        <!-- Implements Comment section-->
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{block.super}}
{% for translation in paper.translation_set.all %}
<script>
  $(document).ready(function(){
      var paperConent{{translation.language_code}} = $("#paperContent-{{translation.language_code}} article div").html()
      $("#{{translation.language_code}} .link").hover(function(){
          var content = $(this).data("content")
          $("#paperContent-{{translation.language_code}} article div").html(content);
        }, function(){
            $("#paperContent-{{translation.language_code}} article div").html(paperConent{{translation.language_code}})
          })
    })
</script>
{% endfor %}
{% endblock %}
