{% extends 'papers/base.html' %}
{% load i18n %}

{% block title %}{{paper.working_title}}{% endblock %}


{% block content %}
<div class="row">
  <nav class="col">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {% for translation in paper.translation_set.all %}
      <a class="nav-link {% if language_code == translation.language_code %}active{% endif %}" href="#{{translation.language_code}}" data-toggle="tab">
        {{translation.get_language_code_display}}
      </a>
      {% endfor %}
      {% if perms.papers.create_translation %}
      {% for missing_translation in paper.missing_translations %}
      <a class="nav-link" href="{% url 'paper-translation-update' paper.pk missing_translation.0 %}">
        + {{missing_translation.1}}
      </a>
      {% endfor %}
      {% endif %}
    </div>
  </nav>
</div>

<div class="tab-content" id="nav-tab-content">
  {% for translation in paper.translation_set.all %}
  <div class="tab-pane {% if language_code == translation.language_code %}active show{% endif %}" id="{{translation.language_code}}" role="tabpanel">
    <div class="row mt-4">
      <div class="col-md-8">
        <h2>
          {{translation.title}}
        </h2>
        {% trans 'Authors' %}:
        {% for authors in paper.authors.all %}
        {{authors.name}}{% if not forloop.last %},{% endif %}
        {% endfor %}  
          <h3 class="h5">{% trans 'Deadline for this paper: ' %}{{paper.amendment_deadline}}</h3>
        <div id="paperContent-{{translation.language_code}}" class="content">
          <article>
            <div> {{translation.content_safe}}</div>
          </article>
        </div>
        <div class="btn-group my-2" role="group">
          <a class="btn btn-secondary" href="{% url 'create-amendment' translation.paper.pk translation.language_code %}">
            {% trans 'create amendment' %}
          </a>
          {% if perms.papers.change_translation %}
          <a class="btn btn-secondary" href="{%url 'paper-translation-update' translation.paper.pk translation.language_code%}">
            {% trans 'update translation' %}
          </a>
          {%endif%}
        </div>
        <a class="btn" href="{%url 'paper-list' %}">
          {% trans 'back' %}
        </a>
      </div>
      <div class="col-md-4">
        <h2 id="amendments">{% trans 'amendments' %}</h2>
        <ul>
          {% for amendment in translation.amendment_list %}
          <a class="link" href="{% url 'amendment-detail' amendment.pk %}" data-content="{{amendment.extract_content|safe}}">
            <h3 class="h5">{{amendment.title}}</h3>
            {% blocktrans with name=amendment.author.name created_at=amendment.created_at %}{{name}} at {{created_at}}{% endblocktrans %}
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{block.super}}
  {% for translation in paper.translation_set.all %}
<script>
  $(document).ready(function(){
    var paperConent{{translation.language_code}} = $("#paperContent-{{translation.language_code}} article div").html()
    $("#{{translation.language_code}} .link").hover(function(){      
      var content = $(this).data("content")
      $("#paperContent-{{translation.language_code}} article div").html(content);
      }, function(){
        $("#paperContent-{{translation.language_code}} article div").html(paperConent{{translation.language_code}})
    })
  })
</script>
  {% endfor %}
{% endblock %}
