{% extends 'papers/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Papers' %}{% endblock %}

{% block content %}

<h1>{% trans 'Papers' %}</h1>
<table class="table">
  <caption class="sr-only">{% trans 'Papers' %}</caption>
  <thead>
    <tr>
      <th scope="col">{% trans 'Title' %}</th>
      <th scope="col">{% trans 'State' %}</th>
      <th scope="col" class="col-0">{% trans 'Created on' %}</th>
      <th scope="col" class="col-3">{% trans 'Deadline for amendments' %}</th>
      <th scope="col" class="col-3">{% trans "Last Change" %}</th>
    </tr>
  </thead>
  <tbody>
      {% for paper in paper_list %}
      <tr>
        <td>
            <a href="{% url 'paper-detail' paper.pk %}">
              {{paper.translated_title}}
            </a>
        </td>
        <td>
          {{paper.state}}
        </td>
        <td>
          {{paper.created_at}}
        </td>
        <td>
          {{paper.amendment_deadline}}
        </td>
          <td>
              {% if paper.comments.last.created_on > paper.latest_comment.created_on %}
                  <a href="{% url 'paper-detail' paper.pk %}">
                      {{ paper.comments.last.created_on }}
                  </a>
              {% elif paper.comments.last.created_on < paper.latest_comment.created_on %}
                  <a href="{% url 'amendment-detail' paper.latest_comment.amendment_id %}">
                      {{ paper.latest_comment.created_on }}
                  </a>
              {% elif paper.latest_comment %}
                  <a href="{% url 'amendment-detail' paper.latest_comment.amendment_id %}">
                      {{ paper.latest_comment.created_on }}
                  </a>
              {% else %}
                  <a href="{% url 'paper-detail' paper.pk %}">
                      {{ paper.comments.last.created_on }}
                  </a>
              {% endif %}
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<a href="{% url 'paper-create' %}" class="btn btn-secondary ">{% trans 'Create new paper' %}</a>
{% endblock %}
