{% extends 'papers/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Papers' %}{% endblock %}

{% block content %}

<h2 id="paperLabel">{% trans 'Papers' %}</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                {% trans 'Title' %}
            </th>
            <th scope="col">
                {% trans 'Created at' %}
            </th>
            <th scope="col">
               Created by
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for paper in paper_list %}
            <tr scope="row">
                <td>
                    <a href="{% url 'paper-detail' paper.pk %}">
                        {{paper}}
                    </a>
                </td>
                <td>
                    {{paper.created_at}}
                </td>
                <td>
                    author
                </td>
                    {% for author in paper.authors.all %}
                        <td>
                        {{author.name}} hello 
                        </td>
                    {% endfor %}
            </tr>
            {% endfor %}
        </tr>
    </tbody>
</table>

<!--<a href="{% url 'paper-create' %}">{% trans 'create new paper' %}</a>-->
{% endblock %}
